.main {
    margin-top: 52px;
    display: grid;
    margin-left: 30px;
}
.form {
    margin-top: 50px;
    display: grid;
    margin-right: 50px;
    align-self: flex-end;
}
.form textarea {
    min-height: 100px;
    background: #F0F2F6;
    font-size: 20px;
    padding: 15px;
    border: none;
    box-sizing: border-box;
    align-self: flex-end;
}
.btnSend {
    display: flex;
    justify-content: flex-end;
}
