.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}
.preloader img {
    display: block;
    object-fit: contain;
    height: inherit;
    width: inherit;
}