.profile {
    display: flex;  
}
.avatarka {
    width: 250px;
    margin-top: 30px;
}
.avatarka img {
    display: block;
    width: inherit;
}
.description {
    margin-left: 30px;
}
.description h1{
    padding-bottom: 15px;
}
.description p {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.description p span {
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}
    