.header {
    grid-area: h;
    display: flex;
    padding-left: 15px;
    align-items: center;
    border-bottom: 2px solid #0d47a1;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
}
.text {
    font-size: 26px;
    font-weight: 400;
}