.parent {
  padding: 20px 10px 20px 10px;
    min-height: 650px;
    width: 220px;
    position: relative;
  }

  .addFriend {
    display: flex;
    align-items: center;
    
  }
.headering {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.border {
  border-radius: 20px;
  margin-bottom: 10px;
}
.btn {
  display: flex;
  justify-content: center;
}