.main {
    margin-top: 52px;
    display: grid;
}
.form {
    margin-top: 50px;
    display: grid;
    margin-right: 50px;
    align-self: flex-end;
}
.form textarea {
    min-height: 140px;
    background: #F0F2F6;
    font-size: 24px;
    padding: 30px;
    border: none;
    box-sizing: border-box;
    align-self: flex-end;
}
/* .form input {
    height: 40px;
    width: 300px;
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box;
    margin-top: 30px;
} */
.btnSend {
    display: flex;
    justify-content: flex-end;
}
